---
import BaseLayout from "../layouts/baseLayout.astro"
import { cn } from "../utils/utils"
---

<BaseLayout>
  <section id="home" class={cn("page")}>
    <h1>Hello World</h1>
    <div class="h-[200vh] w-full bg-red-500/50"></div>
  </section>
</BaseLayout>
