---
import HoverButton from "../components/HoverButton/HoverButton.astro"
import BaseLayout from "../layouts/baseLayout.astro"
import { cn } from "../utils/utils"
---

<BaseLayout>
  <section id="home" class={cn("page", "h-[80px] px-12", "flex items-center justify-end")}>
    <HoverButton />
  </section>
</BaseLayout>
